[Unit]
Description=Bitcoin XT container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a bitcoind
ExecStop=/usr/bin/docker stop -t 60 bitcoind

[Install]
WantedBy=multi-user.target
